* {
  background-color: rgb(211, 209, 197);
  padding: 
}
p{
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: 400;
  padding: 0px;
  background-clip:content-box;
  border: 0px;
  text-align: unset;
  
  
}
h1, h2, h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h1 {
  padding-top: 00px;
}
h1,h2,h3,p,ul {
  margin: 0% 20% ;
  padding: 0px;
  background-color: rgb(233, 225, 214);
}
h1,h2,h3 {
  padding: 5px; color: crimson; 
}
img {
  padding; 0px;
  margin: 0px;
  border style; hidden;


}
h4 {
  text-align: center;
}